@import "reset.css";
@import "bourbon/bourbon";
$max-width: 800px;
@import "neat/neat";
@import "sourcesanspro/sourcesanspro.css";

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600);
@import url(http://fonts.googleapis.com/css?family=Questrial);

$bodyFontColor: #666;
$mainColor: #90b52a;
$mainLinkColor: #2980b9;
$mainLinkColorLight: #f2faff;
$mainLinkHoverColor: #34495e;
$mobile: new-breakpoint(max-width 500px 6);

body {
  font-family: "Source Sans Pro", "Segoe UI", "Myriad Pro", sans-serif;
  color: $bodyFontColor;
  font-size: 16px;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Source Sans Pro Semibold", sans-serif;
}

.container {
  @include outer-container;
  padding: 0 1em;
}

a {
  color: $mainLinkColor;
  text-decoration: none;

  &:hover, &:focus {
    outline: 0;
    color: $mainLinkHoverColor;
  }
}

b, strong {
  font-weight: normal;
  font-family: "Source Sans Pro Bold";
}

.alt-font {
  font-weight: normal;
  font-family: "Questrial";
}

header {
  background-color: $mainColor;
  border-bottom: none;
  padding: 10px 0;
  margin-bottom: 25px;
  height: 50px;
  .logo {
    float: left;
    position: relative;
    top: -10px;
    margin-right: 10px;
    h1 {
      float: left;
      @include hide-text;
      background: transparent url(/images/spec.svg) center center no-repeat;
      width: 40px;
      height: 64px;
      background-size: 40px 64px;
      @include media($mobile) {
        float: none;
        margin: 0 auto;
        text-align: center;
      }
    }
    &.full-width {
      @include span-columns(12);
      h1 {
        float: none;
        margin: 0 auto;
      }
    }
  }
  .tagline {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(6);
      @include pad(default 20px);
    }
    a {
      // color: $bodyFontColor;
      color: #fff;
      font-size: 1.2em;
    }
    h2 {
      font-size: 1.1em;
      line-height: 28px;
      font-weight: normal;
      font-family: "Source Sans Pro Bold", sans-serif;
      span {
        margin-left: 2px;
        font-size: 0.9em;
      }
    }
  }
  .buttons {
    @include span-columns(7);
    @include media($mobile) {
      @include span-columns(6);
      @include pad(default 20px);
    }
    a {
      line-height: 28px;
      font-size: 13px;
      background: rgba(255, 255, 255, 0.9);
      padding: 0.5em 1em;
      border-radius: 3px;
      font-family: "Source Sans Pro Bold", sans-serif;
      color: #90b52a;
      &:hover, &:focus {
        background: rgba(255,255,255,1);
      }
    }
  }
  .links {
    float: left;
    margin-right: 15px;
  }
  .user-links {
    float: right;
    margin: 0;
    padding: 0;
    li {
      display: list-item;
      float: left;
      margin-left: 5px;
    }
  }
  h2 {
    display: inline;
  }
}

.article {
  h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
  }
  h4 {
    font-size: 1.1em;
    margin-bottom: 0.4em;
    padding-bottom: 0.2em;
  }
  ul {
    margin-bottom: 1em;
    &.breadcrumbs {
      font-size: 0.9em;
      padding: 0.5em 1em;
      border-radius: 3px;
      background: $mainLinkColorLight;
      color: $mainLinkHoverColor;
      a {
        color: $mainLinkColor;
      }
      li {
        display: inline;
        &.current {
          // font-weight: 600;
        }
        &:after {
          content: " › ";
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }
  }
  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
}

ul.index li {
  margin-bottom: 0.25em;
}

p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

ul.disc {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 10px;
}

ul.changes {
  li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #EEE;
  }
}

.left, .right {
  @include span-columns(6);
}