@charset "UTF-8";
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Questrial|Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", "Segoe UI", "Myriad Pro", sans-serif;
  color: #666666;
  font-size: 16px;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

.container {
  *zoom: 1;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #2980b9;
  text-decoration: none; }
  a:hover, a:focus {
    outline: 0;
    color: #34495e; }

b, strong {
  font-weight: bold; }

header {
  background-color: #90b52a;
  border-bottom: none;
  padding: 10px 0;
  margin-bottom: 25px;
  height: 50px; }
  header .logo {
    float: left;
    position: relative;
    top: -10px;
    margin-right: 10px; }
    header .logo h1 {
      float: left;
      background-color: transparent;
      border: 0;
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      background: transparent url(/images/spec.svg) center center no-repeat;
      width: 40px;
      height: 64px;
      background-size: 40px 64px; }
      @media screen and (max-width: 500px) {
        header .logo h1 {
          float: none;
          margin: 0 auto;
          text-align: center; } }
    header .logo.full-width {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      header .logo.full-width:last-child {
        margin-right: 0; }
      header .logo.full-width h1 {
        float: none;
        margin: 0 auto; }
  header .tagline {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    header .tagline:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      header .tagline {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%;
        padding: 2.35765% 20px; }
        header .tagline:last-child {
          margin-right: 0; } }
    header .tagline a {
      color: #fff;
      font-size: 1.2em; }
    header .tagline h2 {
      font-size: 1.1em;
      line-height: 28px;
      font-weight: 700; }
      header .tagline h2 span {
        font-weight: normal;
        font-family: "Questrial";
        margin-left: 2px;
        font-size: 0.9em; }
  header .buttons {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    header .buttons:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      header .buttons {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%;
        padding: 2.35765% 20px; }
        header .buttons:last-child {
          margin-right: 0; } }
    header .buttons a {
      line-height: 28px;
      font-size: 13px;
      background: rgba(255, 255, 255, 0.9);
      padding: 0.5em 1em;
      border-radius: 3px;
      font-weight: 700;
      color: #90b52a; }
      header .buttons a:hover, header .buttons a:focus {
        background: white; }
  header .links {
    float: left;
    margin-right: 15px; }
  header .user-links {
    float: right;
    margin: 0;
    padding: 0; }
    header .user-links li {
      display: list-item;
      float: left;
      margin-left: 5px; }
  header h2 {
    display: inline; }

.article h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em; }
.article h4 {
  font-size: 1.1em;
  margin-bottom: 0.4em;
  padding-bottom: 0.2em; }
.article ul {
  margin-bottom: 1em; }
  .article ul.breadcrumbs {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7));
    background-image: -webkit-linear-gradient(top, white, #f7f7f7);
    background-image: -moz-linear-gradient(top, white, #f7f7f7);
    background-image: -ms-linear-gradient(top, white, #f7f7f7);
    background-image: -o-linear-gradient(top, white, #f7f7f7);
    background-image: linear-gradient(top, white, #f7f7f7);
    border: 1px solid #efefef;
    font-size: 0.9em;
    padding: 0.25em; }
    .article ul.breadcrumbs a {
      color: #666666; }
    .article ul.breadcrumbs li {
      display: inline; }
      .article ul.breadcrumbs li.current {
        font-weight: bold; }
      .article ul.breadcrumbs li:after {
        content: " »"; }
      .article ul.breadcrumbs li:last-child:after {
        content: ""; }
.article img {
  max-width: 100%;
  margin-bottom: 1em; }

ul.index li {
  margin-bottom: 0.25em; }

p {
  line-height: 1.3em;
  margin-bottom: 1em; }

ul.disc {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 10px; }

ul.changes li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #EEE; }

.left, .right {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .left:last-child, .right:last-child {
    margin-right: 0; }
