@import "reset.css";
@import "bourbon/bourbon";
$max-width: 800px;
@import "neat/neat";
// @import "sourcesanspro/sourcesanspro.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600);

$bodyFontColor: #8c8c8c;
$headerFontColor: #333;
$mainColor: #8FB63C;
$mainColorDark: #8fb63c;
$mainLinkColor: #8fb63c;
$mainLinkColorLight: #f2faff;
$mainLinkHoverColor: #4b5e23;
$mobile: new-breakpoint(max-width 500px 6);

body {
  font-family: "Open Sans", "Segoe UI", "Myriad Pro", sans-serif;
  color: $bodyFontColor;
  font-size: 16px;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $headerFontColor;
}

.container {
  @include outer-container;
  padding: 0 1em;
}

a {
  color: inherit;
  border-bottom: 1px solid #eee;
  padding-bottom: 1px;
  text-decoration: none;

  &:hover, &:focus {
    outline: 0;
    color: $headerFontColor;
  }
}

b, strong {
  font-weight: bold;
  // font-family: "Source Sans Pro Bold";
}

.alt-font {
  font-weight: 400;
  // font-size: 0.85em;
}

header {
  background-color: $mainColorDark;
  border-bottom: none;
  padding: 20px 0;
  margin-bottom: 3.5em;
  // height: 50px;
  .logo {
    float: left;
    position: relative;
    // top: -10px;
    margin-right: 10px;
    h1 {
      float: left;
      @include hide-text;
      background: transparent url(/images/spec.svg) center center no-repeat;
      width: 40px;
      height: 64px;
      background-size: 40px 64px;
      @include media($mobile) {
        float: none;
        margin: 0 auto;
        text-align: center;
      }
    }
    &.full-width {
      @include span-columns(12);
      h1 {
        float: none;
        margin: 0 auto;
      }
    }
  }
  .tagline {
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(6);
      @include pad(default 20px);
    }
    a {
      // color: $bodyFontColor;
      color: #fff;
      font-size: 1.2em;
      border: none;
      img {
        float: left;
      }
    }
    h2 {
      font-size: 1em;
      line-height: 40px;
      color: white;
      // font-weight: bold;
      // font-family: "Source Sans Pro Bold", sans-serif;
      span {
        margin-left: 1em;
        font-size: 1em;
      }
    }
  }
  .buttons {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(6);
      @include pad(default 20px);
    }
    a {
      border-radius: 3px;
      padding: 0 20px;
      display: inline-block;
      line-height: 40px;
      font-size: 0.85em;
      // background: rgba(255, 255, 255, 0.9);
      font-weight: 700;
      // letter-spacing: 0.01em;
      color: rgba(255,255,255,0.75);
      border: none;
      // text-transform: uppercase;
      &:hover, &:focus {
        color: white;
      }
    }
  }
  .links {
    float: left;
    margin-right: 15px;
  }
  .user-links {
    float: right;
    margin: 0;
    padding: 0;
    li {
      display: list-item;
      float: left;
      margin-left: 5px;
    }
  }
  h2 {
    display: inline;
  }
}

.article {
  h3 {
    font-size: 1em;
    margin-bottom: 0.8em;
    margin-top: 1em;
    & + ul {
      margin-bottom: 2em;
    }
  }
  h4 {
    font-size: 1em;
    margin-bottom: 1.5em;
    padding-bottom: 0.2em;
  }
  ul {
    margin-bottom: 1em;
    li {
      line-height: 1.5em;
    }
    &.breadcrumbs {
      font-size: 0.9em;
      padding: 0.5em 1em;
      margin-bottom: 3em;
      background: white;
      border: 2px solid #f7f7f7;
      color: inherit;
      a {
        color: inherit;
      }
      li {
        display: inline;
        line-height: 1.7em;
        &.current {
          // font-weight: 600;
        }
        &:after {
          opacity: 0.5;
          content: " › ";
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }
  }
  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
}

ul.index li {
  margin-bottom: 0.25em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

ul.disc {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 10px;
}

ul.changes {
  li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #EEE;
  }
}

.left, .right {
  @include span-columns(6);
}

img.center {
  display: block;
  margin: 1em auto;
}

ol li {
  list-style-position: inside;
  list-style-type: decimal;
}
