<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/base.css" type="text/css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="logo"><h1>Preserve Help</h1></a>
        <div class="tagline">
          <a href="/"><h2>Preserve Help</h2></a>
        </div>
        <div class="buttons">
          <a href="/" class="links">Home</a>

          <ul class="user-links">
            <li>
              <a href="http://preserve.io">← Back to Preserve</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container article">
      {{ content }}
    </div>
  </body>
</html>